/* Write your code here. */
.thumbnail {
  margin-right: 15px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.activeThumbnail {
  margin-right: 15px;
  margin-bottom: 10px;
}
.custom-btn {
  background-color: transparent;
  border-width: 0;
}
